{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
{% block title %}
  
{% endblock title %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
</head>
<body>
    <div class="container">
      <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <div class="navbar-nav">
              <a class="nav-link" href="{% url 'home' %}">Home</a>

              {% if department == 'maintenance' or department == 'management' %}
                  <a class="nav-link" href="{% url 'available' %}">Available</a>
              {% endif %}
              
              <a class="nav-link" href="{% url 'used' %}">Used</a>
              
              {% if department == 'management' %}
                  <a class="nav-link" href="{% url 'activity' %}">Activity log</a>
                  <a class="nav-link" href="{% url 'staff' %}">Staff</a>
              {% endif %}
              
              <a class="nav-link" href="{% url 'logout' %}">Logout</a>
              <a class="nav-link" href="#">{{ request.user }}</a>
            </div>
        </div>
      </nav>
      <hr>
    </div>


    {% block content %}
    <div class="container">
    <div class="container">
      <div class="container">
        <div class="d-grid gap-2 d-md-block">
            <a href="{% url 'add_message' %}"><button class="btn btn-primary" type="button">Add Note</button></a>
          </div>
          <br><br>
    <div class="card">
        <h2 class="card-header text-center">Important Notes</h2>
        <div class="card-body">
            {% for message in messages %}
            <h4 class="card-title">{{ message.msg }}</h4>
            <p class="card-text">{{ message.user }}.</p>
            {% endfor %}
        </div>
      </div>
    </div>
    </div>
    {% endblock content %}


</body>
</html>
