{% extends "base.html" %}
{% block content %}
<div class="container">
    <div class="d-grid gap-2 d-md-block">
        <a href="{% url 'add-staff' %}"><button class="btn btn-primary" type="button">Add staff</button></a>
      </div>
      <br><br>
<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th><b>Username</b></th>
            <th><b>First Name</b></th>
            <th><b>Last Name</b></th>
            <th><b>Department</b></th>
            <th><b>Joined</b></th>
            <th><b>Active</b></th>
        </tr>
    </thead>
    <tbody>
        {% for user_department_instance in staff %}
        <tr>
            <td>{{ user_department_instance.user.username }}</td>
            <td>{{ user_department_instance.user.first_name }}</td>
            <td>{{ user_department_instance.user.last_name }}</td>
            <td>{{ user_department_instance.department.name }}</td>
            <td>{{ user_department_instance.user.date_joined }}</td>
            <td>
                <div class="btn-group" role="group">
                    <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                        {{ user_department_instance.user.is_active }}
                    </button>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="{% url 'activate' pk=user_department_instance.user.pk %}">True</a></li>
                      <li><a class="dropdown-item" href="{% url 'deactivate' pk=user_department_instance.user.pk %}">False</a></li>
                    </ul>
                  </div>
            </td>        
        </tr>
        {% endfor %}
    </tbody>
</table>
</div>
{% endblock content %}
